.sobre {
    text-align: center;
    padding: 4rem 2rem;
    background-color: #0f1115;
    color: #e6e6e6;
}
h1 {
    color: #00ff88
}
h2 {
    color: #00ff88;
    margin-bottom: 0.5rem;
}
h3 {
    color: #73f9bb
}
p {
    max-width: 700px;
    margin: 0 auto 3rem;
    color: #ccc;
}

.iot h1 {
    color: #34d389;
    margin-bottom: 0.5rem;   
}
.iot img {
    width: 45%;
    height: 410px;
    object-fit: cover;
    border-radius: 40px;
    margin-bottom: 2rem;
}

.iot h2 {
    color: #00ff88;
    margin-bottom: 0.5rem;
}

.iot h3 {
    color: #00ff88;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.iot h4 {
    color: #c6e5b1;
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

.iot p {
    color: #bbb;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.botao_contato {
    background-color: #00ff88;
    color: #0f1115;
    font-weight: bold;
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
}

.botao_produto {
    background-color: #00ff88;
    color: #0f1115;
    font-weight: bold;
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
}


