#image {
    display: block;
    width: 100%;
    max-height: 600px;
    margin: 0 auto;
    box-shadow: 0 0 30px rgba(0, 255, 136, 0.2);
}


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #0f1115;
    color: #e6e6e6;
}

header {
    background-color: #101820;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


.logo {
    color: #00ff88;
    font-family: 'Montserrat', sans-serif;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.menu a {
    text-decoration: none;
    color: #e6e6e6;
    transition: color 0.3s;
}

.menu a:hover {
    color: #00ff88;
}

.cor {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(255,255,255,0.3);
    transition: transform 0.3s;
}

.cor:hover {
    transform: scale(1.2);
}

.banner {
    text-align: center;
    padding: 5rem 2rem;
    
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: #101820;
    color: #ccc;
    font-size: 0.9rem;
}

footer a {
    color: #00ff88;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}